dlib
torch==1.7.1 
torchvision==0.8.2 
torchaudio==0.7.2
tensorboard
tensorflow-gpu==1.15.0
tqdm 
scikit-image 
opencv-python 
pillow 
imageio 
matplotlib 
mxnet 
Ninja 
google-auth 
google-auth-oauthlib 
click 
requests 
pyspng 
imageio-ffmpeg==0.4.3 
scikit-learn 
torchdiffeq==0.0.1 
flask 
kornia==0.2.0 
lmdb 
psutil 
dominate 
rtree